


*{
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #fff;
}

.Calculator{
  width: 320px;
  background-color: rgba(0, 0, 0, 0.852);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 20px;
}

#display{
     width: 100%;
     height: 50px;
     margin-bottom: 15px;
     padding: 10px;
     font-size: 28px;
     text-align: right;
     border-radius: 5px;
     box-sizing: border-box;
     border: none;
}

.buttons{
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 10px;
}

button{
  height: 50px;
 font-size: 1.2em;
 border: none;
 border-radius: 5px;
 cursor: pointer;
 transition: 0.2s;
}

.operation{
  background-color:  rgba(255, 255, 255, 0.788);
} 

.number{
  background-color: #fff;
}

.equals{
  background-color: #0f2fe6;
  color: #fff;
}

.theme-toggle{
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  display: flex;
  position: fixed;
  top: 20px;
  right: 20px;
}

.theme-toggle svg:first-child{
  display: none;
}

.darkmode .theme-toggle svg:last-child{
  display: none;
}

.darkmode .theme-toggle svg:last-child{
  display: block;
}

.darkmode{
  background-color: #1e1e1e;
  color:#ffffffff;
  transition: all 0.3s ease;
}

.darkmode .Calculator{
  background-color: #1b1c1f;
  box-shadow: 0 0 20px rgba(0,0,0,0.6) inset 0 0 10px rgba(255, 255, 255, 0.05);
}

.darkmode .operation{
  background-color: #2a2b2f;
  color: #f08c00;
}

.darkmode .equals{
  background-color:  #2a2b2f;
  color: #f15c05f6;
}